.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.idea
.vscode
.luarc.json
.replxx_history*

node_modules
/artifacts
/server-data/cache
/server-data/config/secrets.cfg
/config/profiles.json
/config/artifact.json
